# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/MyCourseProject/CppApplication_1/build/
/MyCourseProject/CppApplication_1/dist/
/Exercise2/build/
/Exercise2/dist/
/CppExercise2/build/
/CppExercise2/dist/
/Excercise2/CppExercise2/build/
/Excercise2/CppExercise2/dist/
/Excercise2/Excercise2.2/build/
/Excercise2/Excercise2.2/dist/
/Excercise2/Еxcericise2.3/build/
/Excercise2/Еxcericise2.3/dist/
/Excercise2/Excercise2.4/build/
/Excercise2/Excercise2.4/dist/
/Excercise3/Excercise3.1/build/
/Excercise3/Excercise3.1/dist/
/Excercise3/Excercise3.2/build/
/Excercise3/Excercise3.2/dist/
/Excercise3/Excercise3.3/build/
/Excercise3/Excercise3.3/dist/
/Excercise3/Excercise3.4/build/
/Excercise3/Excercise3.4/dist/
/ReadWriteEx/ReadWriteExample1/build/
/ReadWriteEx/ReadWriteExample1/dist/
/Excercise4/upr4Ex1/build/
/Excercise4/upr4Ex1/dist/
/Excercise4/upr4Ex2/build/
/Excercise4/upr4Ex2/dist/
/Exam1Prep/Example1/build/
/Exam1Prep/Example1/dist/
/MyCourseProject2.12.17/CppApplication_1/build/
/MyCourseProject2.12.17/CppApplication_1/dist/